<h1>Create an account</h1>
<p>It's free and always will be.</p>
<%= form_for(resource, as: resource_name, url: signup_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.text_field :first_name, placeholder: "First name", class: "form-control form-control-lg", autofocus: true %>
    </div>
    <div class="form-group col-md-6">
      <%= f.text_field :surname, placeholder:  "Surname", class: "form-control form-control-lg" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.email_field    :email, placeholder: "Email address", class: "form-control form-control-lg" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, placeholder: "New password", class: "form-control form-control-lg" %>
  </div>
  <div class="form-group">
    <%= f.label :birthday %>
    <%= f.date_field :birthday, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gender_id %>
    <div class="row ml-3 mx-auto my-auto">
      <% (User::GENDERS).each_with_index do |gender, gender_index| %>
        <%= f.radio_button :gender_id, gender_index, class:"my-auto" %>
        <%= f.label :gender_id, gender, for: "user_gender_id_#{gender_index}",
                                class:"gender-label my-auto" %>
      <% end %>
    </div>
  </div>
  <p><small>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS notifications from us and can opt out at any time.</small></p>
  <div class="actions">
    <%= f.submit "Sign Up", class: "btn btn-lg btn-success py-1 w-50" %>
  </div>
<% end %>