<% if user_signed_in? %>
  <% if @user == current_user %>
    <%= link_to "Update Info", '', class: "btn btn-sm btn-secondary"%>
  <% elsif current_user.pending_friends.include? @user %>
    <%= render 'cancel_request_form' %>
  <% elsif !@user.friends_with?(current_user) %>
    <%= render 'send_request_form' %>
  <% elsif @user.friends_with?(current_user) %>
    <p>Friends!</p>
  <% end %>
<% else %>
    <p class="mt-0 pt-0"><b><%= @user.full_name %> is on Facebook.</b>
    <%= link_to "Log In", :signin, class: "btn btn-primary btn-sm" %> or
    <%= link_to "Sign Up", :signup, class: "btn btn-success btn-sm" %> to connect <%= @user.first_name %>
    </p>
<% end %>