<div class="container mt-4 m-auto">
  <div class="row border rounded p-3">
    <%= gravatar_for(@user, size: 120) %>
    <div class="col my-auto">
      <h1><%= @user.full_name %></h1>
      <p><%= @user.email.downcase %></p>
      <% if user_signed_in? %>
        <% if @user == current_user %>
          <%= link_to "Update Info", '', class: "btn btn-sm btn-secondary"%>
        <% elsif !@user.friends_with?(current_user) %>
          <%= link_to "Add Friend", '', class: "btn btn-sm btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="border rounded p-2 mb-3">
        <h3>Info</h3>
        <p>Here will be the information about the user.
        For now, just this text. Just to fill up the space.</p>
      </div>
      
      <div class="border rounded p-2 mb-3">
        <h3>Friends <span class="badge badge-pill badge-success"><%= @user.friends.count %></span></h3>
        <% if @user.friends.any? %>
          <ul>
            <% @user.friends.each do |friend| %>
              <li><%= friend.full_name %></li>
            <% end %>
          </ul>
        <% else %>
          <p>None yet.</p>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <% if @user == current_user %>
        <div class="p-3 border rounded mx-2 mb-4">
          <%= render 'posts/post_form' %>
        </div>
      <% end %>
      <h3>Posts</h3>
      <ul class="posts m-0 p-0">
        <%= render @posts.feed if !@posts.nil? %>
      </ul>
    </div>  
  </div>

</div>
