<div class="container col-md-6 mt-4">
<div class="row">
  <%= gravatar_for(@user, size: 120) %>
  <div class="col my-auto">
  <h1><%= @user.full_name %></h1>
  <p><%= @user.email.downcase %></p>
  <%# if USER is not CURRENT_USER's friend %>
  <%= link_to "Add Friend", '', class: "btn btn-sm btn-primary" %>
  <%# end %>
  </div>
</div>
  <p>Find and add your friends, <em>soon</em>.</p>
  <h3>Posts</h3>
  <ul class="posts">
    <%= render @posts %>
  </ul>
</div>
