<%= form_for(current_user.friendships.build) do |f| %>
  <%= hidden_field_tag :friend_id, friend.id %>
  <% if current_page?(action: :index, controller: :static_pages) %>
    <div class="row mb-2 ml-auto">
      <%= link_to gravatar_for(friend, size: 50), friend %>
      <div class="ml-2 my-auto">
      <b><%= friend.full_name %></b>
      <span>sent you a request</span>
      </div>
    </div>
  <% end %>
  <%= f.submit "Accept Request", class: "btn btn-success btn-sm inline float-right" %>
<% end %>
