<li id="post-<%= post.id %>" class="border rounded p-3 m-2 ml-0">
  <div class="row m-auto">
    <div class="" style="width: fit-content">
      <%= link_to gravatar_for(post.user, size: 60), post.user %>
    </div>
    <div class="ml-2 my-auto">
      <span class="user">
        <%= link_to post.user.full_name, post.user %>
      </span><br>
      <span class="timestamp">
        Posted <%= time_ago_in_words(post.created_at) %> ago.
      </span>
    </div>
  </div>
  <div class="post-body row m-auto">
    <span class="post-body ml-2"><%= post.body %></span><br>
  </div>
  <div class="post-actions row ml-2">
    <span class="post-actions small">
    <%= link_to "Like" %> -
    <%= link_to "Comment" %> -
    <%= link_to "Share" %>
    <%= link_to "- Delete", post_path(post), method: :delete, data: { confirm: "You are deleting the post!"} if (post.user == current_user) %>
    </span>
  </div>
  <hr>
  <% if user_signed_in? %>
    <div class="new-post-comment pt-3">
      <%= render 'shared/new_post_comment_form', post: post %>
    </div>
  <% end %>
  <div class="post-comments ml-4 p-0">
    <%= render post.comments %>
  </div>
</li>