<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><%= image_tag('logo.png')%> facebook <em>on Rails</em></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="form-inline my-2 my-lg-0 text-white ml-auto">
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Find Friends", users_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b><%= current_user.full_name %></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Settings",   edit_user_registration_path(current_user), class: "dropdown-item"%>
              <div class="dropdown-divider"></div>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item",
                                           data: { confirm: "You are logging out from RailsFacebook !" } %>
            </div>
          </li>
        </ul>
      <% else %>
        <%= form_for User.new, url: signin_path  do |f| %>
          <%= f.email_field :email, placeholder: "Email Address", class: "form-control form-control-sm mr-sm-3"%>
          <%= f.password_field :password, placeholder: "Password", class: "form-control form-control-sm mr-sm-2"%>
          <%= f.submit "Log in", class: "btn btn-sm btn-outline-primary my-2 my-sm-0"%>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>